h5 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1rem;
}

li {
  padding-bottom: 0.5rem;
}

.collapsible {
  color: white;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.2rem;
  background-color: #0c2340;
  margin-bottom: 1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  text-indent: 0.5rem;
}

.active,
.collapsible:hover {
  background-color: darkgrey;
}

.content {
  display: none;
  overflow: hidden;
  border-bottom: none;
}
