.image {
  width: 75%;
  margin: 0px auto 0px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: block;
  object-fit: cover;
}

ul {
  padding-left: 3rem;
  padding-right: 3rem;
}

li {
  margin-top: 0.25rem;
  margin-bottom: 1rem;
}

.liIndent1 {
  margin-left: 2rem;
  margin-top: -0.8rem;
  margin-bottom: 1rem;
}
